/* Fit body to full page with soft background */
body {
    background-color: hsl(220,90%,90%);
    padding: 0;
    margin: 0;
}

/* Remove decorations */
a {
    color: white;
    text-decoration: none;
}

/* Span whole page, darker color */
header, footer {
    background-color: hsl(220,40%,35%);
    width: 100%;
    text-align: center;
    color: white;
}

/* Align text with nav below vv */
h1 { display: inline; }

/* Horizontal navigation */
nav ul li { 
    display: inline;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}