/* MAIN STYLES */

/* Fit body to full page with soft background */
body {
    background-color: hsl(220,90%,90%);
    padding: 0;
    margin: 0;
}

/* Small spacing for name */
h1 {
    padding: 0 2rem;
}

/* Remove decorations */
a {
    color: white;
    text-decoration: none;
}

/* Span whole page, darker color */
header, footer {
    background-color: hsl(220,60%,35%);
    color: white;
}

/* small spacing around body of content */
main {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

/* fixed footer */
footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* remove whitespace around p tag */
footer p {
    padding: 0;
    margin: 0;
}


/* NAVIGATION STYLES */

/* Inline navigation */
h1, nav, nav ul, nav ul li {
    display: inline-block;
}

/* remove bullets */
nav ul {
    list-style-type: none;
}

/* Spacing for content */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

/* Fit content to parent */
nav ul li {
    padding: 1.4rem 1rem;
}
  
/* color change on hover */
nav ul li:hover {
    background-color: hsl(330,80%,65%);
}